#head1{
   font-size: 25px;
   font-weight: 400;
}
.head2{
    font-weight: bolder;
    margin: auto;
    width: 100%;
}


.line12{
    text-align: right;
}
.heading{
    text-shadow: 2px 4px rgb(217, 213, 213);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    
}